nav {
    padding: 1rem 0 0rem 0;
    margin-bottom: -1rem;
}
.form {
    background-color: rgba(38, 43, 48, 0.76);
    padding: 3rem 0 3rem 0;
    margin-bottom: 2rem;
    padding: 6rem 0 6rem 0;
}

.form label {
    white-space: nowrap;
}

.form h1, .form h2, .form h3, .form h4, .form h5, .form h6, .form span {
    color: white;
}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.hbox > * {
    flex-shrink: 0;
}

.navigation-item {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.github-stars {
    align-self: center;
    margin-bottom: 2rem;
}

.form label {
    color: white;
}

#examples-select {
    width: 12rem;
    margin-left: 2rem;
}

/* Larger than phablet */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {

}

/* Larger than desktop */
@media (min-width: 1000px) {
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.footer a {
    margin-left: 1rem;
}
