nav {
    padding: 1rem 0 0rem 0;
    margin-bottom: -1rem;
}
.form {
    background-color: #366ed1;
    padding: 3rem 0 3rem 0;
}

.form label {
    white-space: nowrap;
}

.hbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.hbox > * {
    flex-shrink: 0;
}

.navigation-item {
    margin-left: 2em;
}

nav a {
    text-decoration: none;
    color: inherit;
}

.example-build-link {
    text-decoration: none;
    color: inherit;
}

.github-stars {
    align-self: center;
    margin-bottom: 2rem;
}

.form label {
    color: white;
}

.examples-container {
    text-align: center;
    display: flex;
    justify-content: center;
}

.examples-container .text {
    color: white;
    margin-right: 2rem;
}

.right-align {
    text-align: right;
}

.build-section {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.build-section-inner-container {
    width: 80%;
    display: flex;
    align-items: baseline;    
}

.build-section .build-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin: 0 2rem 0 2rem;
}

.build-section .subtitle {
    max-width: 350px;
    color: white;
    margin-left: 2rem;
}

.build-section .container * {
    white-space: nowrap;
    margin-right: 1rem
}

.examples {
    padding-top: 1rem;
}

td, th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;    
}

.sourceurl-row {
    max-width: 200px;
}

.target-row {
    display: none;
    max-width: 200px;
}

.command-row {
    display: none;
    max-width: 100px;
}

.buildurl-row {
    max-width: 100px;
    text-align: center;
}

/* Smaller than mobile */
@media (max-width: 400px) {
    .target-row {
        display: none;
    }

    .command-row {
        display: none;
    }
}

/* Larger than mobile */
@media (min-width: 400px) {
    .target-row {
        display: none;
    }

    .command-row {
        display: none;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
    .sourceurl-row {
        max-width: 400px;
    }

    .target-row {
        display: table-cell;
        max-width: 200px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .sourceurl-row {
        max-width: 400px;
    }

    .target-row {
        display: table-cell;
        max-width: 400px;
    }

    .command-row {
        display: table-cell;
        max-width: 100px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

.information {
    padding: 3rem 0 3rem 0;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.footer a {
    margin-left: 1rem;
}