h1 TeX renderer

form(action="/compile", method="get")
  label(for="url-field") URL of TeX document
  input(type="url", name="url", id="url-field", size="100")
  input(type="submit")

div
  h2 Restrictions
  p.
    The service doesn't include any figures or other external resources into the
    PDF.

  h2 Example
  p
    | Click <a href="/compile?url=https%3A%2F%2Fraw.github.com%2Faslushnikov%2Flatex-online%2Fmaster%2Fsample%2Fsample.tex">here</a>
    | to compile this <a href="https://github.com/aslushnikov/latex-online/blob/master/sample/sample.tex"> source</a>
    | code.
  p.
    If you want to do it on your own, you have to feed it a link to the RAW
    document

  h2 What is going to happen
  p.
    When you enter url and click "submit" button, the following sequence of
    events happens server-side
  ol
    li The file is fetched and saved with <code>.tex</code> extension
    li Hash sum of the file is counted
    li.
      If we have the pdf for the file with this hash sum in our cash, then we
      return it as-is
    li.
      Otherwise we compile the file using <code>pdflatex</code>, store the
      result in cash and return it

  p.
    Notice that all includes of external resources are ignored


