div
  h1#header LaTeX Online
  i#slogan you give it a link, it gives you PDF

div#form
  form(action="/compile", method="get")
    label(for="url-field") URL of TeX document
    input(type="url", name="url", id="url-field", size="100")
    input(type="submit")

p#hint.
  Dunno <b>what's this</b>? Try to submit the link:
  <code id="hint-link">https://raw.github.com/aslushnikov/latex-online/master/sample/sample.tex</code>

#middle
  #left
    h2 What is going to happen
    p.
      When you enter url and click "submit" button, the following sequence of
      events happens server-side
    ol
      li The file is fetched and saved with <code>.tex</code> extension
      li Hash sum of the file is counted
      li.
        If we have the compiled pdf for the hash sum in our cash, then we
        return cached PDF
      li.
        Otherwise we compile the file using <code>pdflatex</code>, store the
        result in cash and return it

    p.
      Notice that all includes of external resources your paper relies on are ignored

    h2 Restrictions
    p.
      The service doesn't include any figures or other external resources into the
      PDF.

    h2 Documentation
    p.
      Some details are described in this
      <a href="https://github.com/aslushnikov/latex-online#readme">document</a>

  #right
    h2 Examples
    p
      | Click <a href="/compile?url=https%3A%2F%2Fraw.github.com%2Faslushnikov%2Flatex-online%2Fmaster%2Fsample%2Fsample.tex">here</a>
      | to compile this <a href="https://github.com/aslushnikov/latex-online/blob/master/sample/sample.tex"> source</a>
      | code.
    p.
      I additionally use it to create "See Latest" link in my
      <a href="https://github.com/aslushnikov/diplom-latex#readme">diploma</a>

    h2 For Hackers
    p.
      Check a <a href="https://github.com/aslushnikov/latex-online/blob/master/util/remote-compile.sh">remote compile tool</a> to compile documents
      remotely and get rid of LaTeX heavy packages installed locally!
    p.
      Lack a feature? Here's the
      <a href="https://github.com/aslushnikov/latex-online">source code</a>,
      feel free to implement it and send <code>pull request</code>

    h2 About

    p.
      You like the service? Tell me about it via twitter
      <a href="https://twitter.com/#!/KoTeHoK_gav">
      <code id="witter">@KoTeHoK_gav</code>
      </a>!


#bottom
  | <div class="fb-like" data-href="http://latex.aslushnikov.com" data-send="true" data-width="450" data-show-faces="true"></div>
