body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#wrap {
    width: 900px;
    margin: 0 auto;
}

#title {
    font-size: 45pt;
    display: inline-block;
    vertical-align: middle;
}

#slogan {
    margin-left: 1em;
    font-size: 12pt;
    vertical-align: middle;
    color: gray;
}

#form {
    font-size: 13pt;
}

#hint {
    font-size: 10pt;
}

#hint-link {
    color: green;
}

a {
    text-decoration: none;
}

a:hover {
    color: blue;
}


#middle {
    padding-top: 1em;
}

#left {
    float: left;
    width: 450px;
    padding-right: 1em;
    margin-right: 1em;
    border-right: 1px solid lightgray;
}

#right {
    width: 400px;
    float: right;
}

#twitter {
    color: blue;
}

#bottom {
    border-top: 1px solid lightgray;
    padding-top: 1em;
    clear: both;
}



