body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#header {
    display: inline-block;
    vertical-align: middle;
}

#slogan {
    margin-left: 1em;
    vertical-align: middle;
    color: gray;
}
